$primary-color: rgb(94, 167, 182);
$secondary-color: #ffffff;
$complementary-color: rgb(233, 233, 233);

$shade-primary-color: lightblue;
$shade-secondary-color: #595a5d;
$shade-complementary-color: rgb(218, 218, 218);